<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <div style="float: left;">
                    <h4 class="title">Email Alerts</h4>
                    <p class="category">Manage your alerts</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="card-content">
                <img src="loading.svg" class="loader" ng-show=loader>
                <div class="row" ng-show="!loader && data.items.length == 0">
                    <div class="col-md-12 text-center">
                        <p class="description">You have setup no email recipients!</p>
                    </div>
                </div>
                <table class="table table-responsive table-striped" ng-show="!loader && data.items.length > 0">
                    <thead>
                        <th>#</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>&nbsp;</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data.items">
                            <td>{{$index +1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.email}}</td>
                            <td>
                                <div class="td-actions text-right">
                                    <button type="button" class="btn btn-danger btn-simple btn-xs" ng-click="deleteRecipient($index)">
                                        <i class="material-icons">close</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="text-center page-button">
                    <a class="btn btn-primary" ng-click="addRecipient()"><i class="material-icons" style="margin-right: 5px;">add_circle</i> Add Email Recipient</a>
                </div>
            </div>

        </div>
    </div>
</div>