<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">Lastest Earthquakes</h4>
                <p class="category">Lastest 5 events registered</p>
            </div>
            <div class="card-content">
                <img src="loading.svg" class="loader" ng-show="loader">
                <div class="row" ng-show="!loader && !data.lastest">
                    <div class="col-md-12 text-center">
                        <p class="description">(Un)fortunaly no earthquakes have been recorded!</p>
                    </div>
                </div>
                <table class="table table-responsive table-striped" ng-show="!loader && data.lastest">
                    <thead>
                        <th scope="col">#</th>
                        <th>SI</th>
                        <th>PGA</th>
                        <th>Temperature</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data.lastest">
                            <td class="text-primary">{{$index +1}}</td>
                            <td>{{item.si}} m/s</td>
                            <td>{{item.pga}} m/s&sup2;</td>
                            <td>{{item.temperature}} °C</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">Ranked Earthquakes</h4>
                <p class="category">The 5 biggest events registered</p>
            </div>
            <div class="card-content">
                <img src="loading.svg" class="loader" ng-show="loader">
                <div class="row" ng-show="!loader && !data.ranked">
                    <div class="col-md-12 text-center">
                        <p class="description">(Un)fortunaly no earthquakes have been recorded!</p>
                    </div>
                </div>
                <table class="table table-responsive table-striped" ng-show="!loader && data.ranked">
                    <thead>
                        <th>#</th>
                        <th>SI</th>
                        <th>PGA</th>
                        <th>Temperature</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data.ranked">
                            <td class="text-primary">{{$index +1}}</td>
                            <td>{{item.si}} m/s</td>
                            <td>{{item.pga}} m/s&sup2;</td>
                            <td>{{item.temperature}} °C</td>
                        </tr>                                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>