<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">Earthquakes</h4>
                <p class="category">Events registered by Fishmograph</p>
            </div>
            <div class="card-content">
                <img src="loading.svg" class="loader" ng-show="loader">
                <div class="row" ng-show="!loader && !data.items">
                    <div class="col-md-12 text-center">
                        <p class="description">(Un)fortunaly no earthquakes have been recorded!</p>
                    </div>
                </div>
                <table class="table table-responsive table-striped" ng-show="!loader && data.items">
                    <thead>
                        <th>#</th>
                        <th>Date</th>
                        <th>SI</th>
                        <th>PGA</th>
                        <th>Temperature</th>
                        <th>Shutoff</th>
                        <th>Collapse</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data.items">
                            <td>{{$index +1}}</td>
                            <td>{{item.start*1000 | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{item.si}} m/s</td>
                            <td>{{item.pga}} m/s&sup2;</td>
                            <td>{{item.temperature}} °C</td>
                            <td><span ng-if="item.shutoff">{{item.shutoff*1000 | date:'dd/MM/yyyy HH:mm:ss'}}</span><span ng-if="!item.shutoff">No</span></td>
                            <td><span ng-if="item.collapse">{{item.collapse*1000 | date:'dd/MM/yyyy HH:mm:ss'}}</span><span ng-if="!item.collapse">No</span></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>